{# /src/Nutri/RecipeBundle/Resources/views/Shoplist/add.html.twig #}

{% extends "::base.html.twig" %}

{% block title %}
{%trans%}New Shoplist{%endtrans%} - {%trans%}Shoplist{%endtrans%} - Nutri - {{ parent() }}
{% endblock %}

{% block body -%}
<h1>{%trans%}New Shoplist{%endtrans%}</h1>

{% include 'NutriRecipeBundle:Shoplist:form.html.twig' %}

{% endblock %}
