{# /src/Nutri/RecipeBundle/Resources/views/Shoplist/modify.html.twig #}

{% extends "::base.html.twig" %}

{% block title %}
{%trans%}Modify Shoplist{%endtrans%} - {%trans%}Shoplist{%endtrans%} - Nutri - {{ parent() }}
{% endblock %}

{% block body -%}
<h1>{%trans%}Modify Shoplist{%endtrans%} <a href="{{ path("nutri_recipe_shoplist_see", { "shoplist_id": shoplist.id }) }}">{{shoplist}}</a></h1>

{% include 'NutriRecipeBundle:Shoplist:form.html.twig' %}

{% endblock %}
