{# /src/Nutri/RecipeBundle/Resources/views/Shoplist/modify.html.twig #}

{% extends "::base.html.twig" %}

{% block title %}
Modify Shoplist - Shoplist - Nutri - {{ parent() }}
{% endblock %}

{% block body -%}
<h1>Modify Shoplist <a href="{{ path("nutri_recipe_shoplist_see", { "shoplist_id": shoplist.id }) }}">{{shoplist}}</a></h1>

{% include 'NutriRecipeBundle:Shoplist:form.html.twig' %}

{% endblock %}
