{# /src/Nutri/IngredientBundle/Resources/views/Ingredient/add.html.twig #}

{% extends "::base.html.twig" %}

{% block title %}
New Ingredient - Ingredient - {{ parent() }}
{% endblock %}

{% block body -%}
<h1>New Ingredient</h1>

{% include '::form_default.html.twig' %}

{% endblock %}
