{# /app/Resources/views/ajaxLoader.html.twig #}
<img src='/oliorga/web/img/ajax-loader.gif' style='display: block; margin: 30px auto 0px auto;'></img><div style='text-align:center; margin: 0px auto 30px auto;' >Please wait...</div>