{% include '::confirmDelete.html.twig' %}
{#{% set entityId = entityName~'_id' %}
#}
<div class="nav subnav">    
    <ul class="nav nav-pills">
        {% block menuItems %}
        <li><a href="{{ path(routePrefix~'home') }}"><span class="glyphicon glyphicon-list"></span> {%trans%}List{%endtrans%}</a></li>
        <li><a href="{{ path(routePrefix~'add') }}"><span class="glyphicon glyphicon-plus"></span> {%trans%}Add{%endtrans%}</a></li>
        <li><a href="{{ path(routePrefix~'modify', {(entityId) : entity.id}) }}"><span class="glyphicon glyphicon-edit"></span> {%trans%}Modify{%endtrans%}</a></li>
        <li><a href="#" data-href="{{ path(routePrefix~'delete', {(entityId) : entity.id}) }}"data-toggle="modal" data-target="#confirm-delete"><span class="glyphicon glyphicon-trash"></span> {%trans%}Delete{%endtrans%}</a>
        {% endblock %}
    </ul>
</div>