{# /src/Nutri/RecipeBundle/Resources/views/Menu/add.html.twig #}

{% extends "::base.html.twig" %}

{% block title %}
{%trans%}New Menu{%endtrans%} - {%trans%}Menu{%endtrans%} - Nutri - {{ parent() }}
{% endblock %}

{% block body -%}
<h1>{%trans%}New Menu{%endtrans%}</h1>

{% include 'NutriRecipeBundle:Menu:form.html.twig' %}

{% endblock %}
