{# /src/Nutri/RecipeBundle/Resources/views/Menu/modify.html.twig #}

{% extends "::base.html.twig" %}

{% block title %}
{%trans%}Modify Menu{%endtrans%} - Menu - Nutri - {{ parent() }}
{% endblock %}

{% block body -%}
<h1>{%trans%}Modify Menu{%endtrans%} <a href="{{ path("nutri_recipe_menu_see", { "menu_id": menu.id }) }}">{{menu}}</a></h1>

{% include 'NutriRecipeBundle:Menu:form.html.twig' %}

{% endblock %}
