{# /src/Finance/OperationBundle/Resources/views/AbstractOperation/modify.html.twig #}

{% extends "::base.html.twig" %}

{% block title %}
{%trans%}Modify AbstractOperation{%endtrans%} - {%trans%}Operation{%endtrans%} - {{ parent() }}
{% endblock %}

{% block body -%}
<h1>{%trans%}Modify AbstractOperation{%endtrans%} <a href="{{ path("finance_operation_abstractoperation_see", { "abstractoperation_id": abstractoperation.id }) }}">{{abstractoperation}}</a></h1>

{% include "::form_default.html.twig" %}

{% endblock %}
