{# /src/Nutri/RecipeBundle/Resources/views/Recipe/add.html.twig #}

{% extends "::base.html.twig" %}

{% block title %}
{%trans%}New Recipe{%endtrans%} - {%trans%}Recipe{%endtrans%} - Nutri - {{ parent() }}
{% endblock %}

{% block body -%}
<h1>{%trans%}New Recipe{%endtrans%}</h1>

{% include 'NutriRecipeBundle:Recipe:form.html.twig' %}

{% endblock %}
