{# /src/Nutri/RecipeBundle/Resources/views/Recipe/add.html.twig #}

{% extends "::base.html.twig" %}

{% block title %}
New Recipe - Recipe - Nutri - {{ parent() }}
{% endblock %}

{% block body -%}
<h1>New Recipe</h1>

{% include 'NutriRecipeBundle:Recipe:form.html.twig' %}

{% endblock %}
