{# /src//ingredientBundle/Resources/views/Aliment/add.html.twig #}

{% extends "::base.html.twig" %}

{% block title %}
New Aliment - ingredient - {{ parent() }}
{% endblock %}

{% block body -%}
<h1>New Aliment</h1>

{% include '::form_default.html.twig' %}

{% endblock %}
