{# /src/Finance/OperationBundle/Resources/views/Category/distribution.html.twig #}

{% extends "::base.html.twig" %}

{% block title %}
{%trans%}Distribution{%endtrans%} - {%trans%}Operation{%endtrans%} - {{ parent() }}
{% endblock %}

{% block body -%}
<h1>{%trans%}Categories' distribution:{%endtrans%}</h1>
<hr>

{% include 'FinanceOperationBundle:Category:timeframeChartEmbed.html.twig' with {timeframe: 'one'} %}
{% include 'FinanceOperationBundle:Category:timeframeChartEmbed.html.twig' with {timeframe: 'three'} %}
{% include 'FinanceOperationBundle:Category:timeframeChartEmbed.html.twig' with {timeframe: 'six'} %}
{% include 'FinanceOperationBundle:Category:timeframeChartEmbed.html.twig' with {timeframe: 'thisYear'} %}
{% include 'FinanceOperationBundle:Category:timeframeChartEmbed.html.twig' with {timeframe: 'lastYear'} %}
   
{% endblock %}
