{# /src/Finance/OperationBundle/Resources/views/TransferBetweenAccount/add.html.twig #}

{% extends "::base.html.twig" %}

{% block title %}
{%trans%}New TransferBetweenAccount{%endtrans%} - {%trans%}TransferBetweenAccount{%endtrans%} - {%trans%}Operation{%endtrans%} - Finance - {{ parent() }}
{% endblock %}

{% block body -%}
<h1>{%trans%}New TransferBetweenAccount{%endtrans%}</h1>

{% if oldTransferBetweenAccount is defined %}
<div class="alert alert-info" role="alert">This is a duplicate of the TransferBetweenAccount <a href="{{ path("finance_operation_transferbetweenaccount_see", { "transferBetweenAccount_id": oldTransferBetweenAccount.id }) }}">{{oldTransferBetweenAccount}}</a></div>
{% endif %}

{% include '::form_default.html.twig' %}

{% endblock %}
